
/* main background */
.mainBg01 {
    background-image: url(../img/bg01.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 103vh;
    position: relative;
    /* z-index: -2; */
}

#mainWrap {
    position: absolute;
    left: 5%;
    top: 2%;
    width: 91%;
    min-height: 97vh;
    background-color: #fdfcfc;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.284);
    box-sizing: border-box;
    /* z-index: -2; */
}

.bg01 {
    position: absolute;
    top: -1px; 
    right: -2px;
    border-top-right-radius: 30px;
    background-image: url(../img/mainbg02.png);
    width: 800px;
    height: 500px;
    /* width: 70%;
    height: 57%; */
    background-repeat: no-repeat;
    background-size: 100% 440px;
    /* background-size: 100% 100%; */
    background-position: 0 0;
    filter: blur(1px);
    /* z-index: -2; */
}

.mainInner {
    position: absolute;
    width: 100%;
}

/* header */
#header {
    margin: 55px 70px 0;
    display: flex;
    justify-content: space-between;
}

.headerTitile {
    font-family: var(--ObjSans);
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    color: #111053;
    cursor: pointer;
}
.headerTitile.line {
    -webkit-text-stroke: 1px rgba(17, 16, 83, 0.3);
    color: transparent;
}

.mainMenu {
    text-align: right;
    width: 40%;
}
.mainMenu > ul {
    display: flex;
    justify-content: space-between;
}
.mainMenu > ul > li > .menu {
    display: inline-block;
    font-weight: bold;
    z-index: 1;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
.mainMenu > ul > li > .menu:hover {
    transition: all 0.3s;
    border-bottom: 2px solid #111053;
}

/* mainConts */ 
#mainConts {
    margin-top: 30px;
}
#mainConts .searchWrap {
    position: relative;
    display: inline-block;
}

#mainConts .mainSearch {
    appearance: none;
    border: 0;
    background-color: #fff;
    width: 35vw;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.142);
    text-align: center;
}

#mainConts .main__searchBtn {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 50px;
    height: 50px;
    background-image: url(..//img/SearchIcon01.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.genre_pick {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 14px;
}
.genre_pick > em {
    font-weight: bold;
    cursor: pointer;
}

/* icon */
.iconBox .book {
    position: absolute;
    top: 28px;
    right: 18%;
    /* width: 325px;
    height: 350px; */
    width: 16vw;
    z-index: 1;
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(-8px);
    }
}
.iconBox .heart01 {
    position: absolute;
    top: 90px;
    right: 33%;
    /* width: 300px;
    height: 251px; */
    width: 20vw;
    /* z-index: -2; */
    animation: bounce2 4s infinite;
}
@keyframes bounce2 {
    0% {
        transform: translateX(0px) translateY(-6px);
    }
    50% {
        transform: translateX(10px) translateY(8px);
    }
    100% {
        transform: translateX(0px)translateY(-6px);
    }
}

.iconBox .heart02 {
    position: absolute;
    top: 40px;
    left: 42%;
    animation: bounce 4s infinite;
}

.note {
    position: absolute;
    top: 110px;
    right: 3%;
    background-image: url(../img/mainNote.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 185px;
    height: 235px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.142);
    text-align: center;
    transition: all 0.3s cubic-bezier(0.35, 0.08, 0.56, 1.16);
    transform: scale(1);
}
.note:hover {
    transform: scale(1.1);
}

/* @keyframes note {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-3px);
    }
} */

.noteDesc {
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}
.noteDesc > h3 {
    font-family: var(--Timon);
}
.noteBtn {
    background-image: url(../img/rightArrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 30px;
}
/* book list */
#bookList {
    margin-top: 60px;
}
#bookList > h2 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
}

.book__wrap {
    /* display: flex;
    justify-content: space-around; */
    padding: 0 3%;
}

.book-1, .book-2, .book-3, .book-4 {
    /* width: 200px;
    height: 260px; */
    width: 11vw !important;
}
.book-1 figure {
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.284);
}
.book-1 > a img {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.book-1 > a img:hover {
    transform: scale(1.2);
}
.book-1 > a  span {
    display: block;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* footer */
.copylight {
    position: absolute;
    right: 10px;
    bottom: -6px;
    font-size: 15px;
    margin-bottom: 10px;
}


@media(max-width: 1200px) {
    #mainWrap {
        left: 1%;
        width: 98%;
    }
    .copylight {
        bottom: 0;
    }
}   