#quizCont {
    position: relative;
    filter: drop-shadow(0px 4px 10px rgba(0, 6, 53, 0.25));
}

.quizCont__wrap {
    background-image: url(../img/memo.svg);
    background-size: cover;
    padding: 45px 30px;
    padding-top: 150px;
    /* background: #fff; */
    position: relative;
    border-radius: 5px;
}

.quizCont__inner {
    text-align: center;
    align-items: center;
}

.quiz__questionsTit {
    font-size: 28px;
    font-family: var(--Timon);
    font-weight: 800;
}
.quiz__questionsImg {
    width: 50%;
    margin-bottom: 30px;
}
.quiz__button {
    display: block;
    margin: 0 auto;
    width: 68%;
    padding: 24px 0px;
    background: #f3f3f6;
    border-radius: 20px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 20px;
    color: #111053;
    cursor: pointer;
}

.quiz__button:last-child {
    margin-bottom: 70px;
}

.quiz__pageInner {
    display: flex;
    margin: 0 auto;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.quiz__prev,
.quiz__next {
    display: inline-block;
}
.quiz__prev span,
.quiz__next span {
    width: 40px;
    height: 40px;
}
.quize__pageNum {
    font-family: var(--Timon);
    font-size: 20px;
    font-weight: 900;
}
.quiz__prev span {
    background: url(../img/leftArrow.svg);
}
.quiz__next span {
    background: url(../img/rightArrow.svg);
}

#quizCont.active {
    margin: 0px 0 0 36%;
}
.quiz__questionsTit.blue {
    font-weight: 900;
    font-size: 30px;
    line-height: 140%;
    color: #111053;
}
/* .quiz__questionsImg.big {
    width: 60%;
} */
.quiz__tit {
    font-family: var(--Timon);
    font-weight: 900;
    font-size: 40px;
    line-height: 140%;
    color: #4240a7;
    margin-bottom: 10px;
}
.quiz__desc {
    font-family: var(--Timon);
    font-weight: 900;
    font-size: 28px;
    line-height: 140%;
    color: #111053;
    margin-bottom: 54px;
}

.booksIcon.quiz {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.booksMenu__list .quizBtn {
    margin-top: 0;
}

@media (max-width: 1200px){
    .booksMenu__list > .quizBtn {
        margin-top: 10px !important;
    }
}